.page {
    min-width: 300px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: normal;
    font-style: normal;
    background-color: #000000;
    color: #FFFFFF;
    position: relative;
    opacity: 1;
}
