.form__input-error-msg {
  font-size: 12px;
  line-height: 15px;
  margin: -15px 0 13px 0;
  color: #FF0000;
}
.form__input-error-msg:last-of-type {
  margin-top: 5px;
  margin-bottom: 0;
}

@media screen and (min-width: 1024px) {
  .form__input-error-msg {
    margin-top: -23px;
  }
}
