.profile__name {
  width: 201px;
  font-weight: 500;
  font-size: 22px;
  line-height: 56px;
  margin: 0 12px 0 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 1024px) {
  .profile__name {
    width: 380px;
    font-size: 42px;
    line-height: 56px;
    margin-right: 24px;
    margin-left: 0;
  }
}

