@import url('./__logo/header__logo.css');

.header {
  min-width: 300px;
  max-width: 882px;
  max-height: 119px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  margin: 0 auto;
  position: relative;
}
